{% extends 'base.html' %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/detailspage.css' %}">
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="row small-screen-span">
                <div class="small-screen-span-title">
                    <h5>{{ request.path | cut:"/" | upper }}</h5>
                    <h5>{{ request.path.startswith | cut:"/" | upper }}</h5>
                </div>
                <div class="small-screen-span-icon">
                    <div class="menu-icon" id="menu_icon_btn" onclick="menu_click()">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
                </div>
            </div>
            <div class="vertical-menu" id="vertical_menu_show">

        <!--    Vertical Menu Body Start Here     -->


                {% for i in post_info %}
                    <a href="{{ i.slug }}" class="active">{{ i.title }}</a>
                {% endfor %}


        <!--    Vertical Menu Body Start Here     -->

            </div>
        </div>
        <div class="col-md-9 details-body">

        <!--    Content Body Start Here     -->


            {{ content | safe }}




        <!--    Content Body End Here     -->

        </div>
    </div>
</div>

<script src="{% static 'javascript/detailspage.js' %}"></script>
</body>
</html>
{% endblock %}
