{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <footer>
                    <div class="footer-content">
                        <h3>Team Learning-HalPee</h3>
                        <p>We have started a new jaurney with our team family to help people who want to become a software
                            engineer.<br>
                            You can start to follow us on this site and other social media plateforms.<br>
                            We'll teach you in the very basic to deep in our syllabus topics.<br>
                            We think you don't know anything in the software engineer line<br>
                            So <span style="color: gold;">Learning-HalPee</span> team may helpful for you.</p>
                        <ul class="socials">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                        </ul>
                    </div>
                    <div class="footer-bottom">
                        <p>copyright &copy; <a href="#">Learnign-HalPee</a> </p>
                        <div class="footer-menu">
                            <ul class="f-menu">
                                <li><a href="">Home</a></li>
                                <li><a href="">About</a></li>
                                <li><a href="">Contact</a></li>
                                <!-- <li><a href="">Blog</a></li> -->
                            </ul>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <!-- Footer section end here -->

</body>
</html>
