{% extends 'base.html' %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-11/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/loginpage.css' %}">
    <title>login</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <img src="{% static 'media/loginpage/zoozoo.jpg' %}" width="100%">
            </div>
            <div class="col-sm-5" >
                <form method="POST" action="" autocomplete="off">
                    <div class="text-center">
                      <h3 style="font-weight: bold;">Login</h3>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline">
                      <input autocomplete="false" type="email" id="loginName" required class="form-control form-input-box" />
                      <label class="form-label" for="loginName">Email</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline">
                      <input autocomplete="false" type="password" id="loginPassword" maxlength="16" minlength="5" required class="form-control form-input-box" />
                      <label class="form-label" for="loginPassword">Password</label>
                    </div>

                    <!-- 2 column grid layout -->
                    <div class="row">
                      <div class="col text-right">
                        <!-- Simple link -->
                        <a href="#!" style="margin-right:20px;">Forgot password?</a>
                      </div>
                    </div>

                    <!-- Submit button -->
                    <button id="login_btn" type="submit" class="btn btn-dark btn-block">Login</button>

                    <!-- Register buttons -->
                    <div class="text-center" style="margin:20px;">
                      <p>Not a member? <a href="{% url 'signup' %}">Register</a></p>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}
