.vertical-menu {
    width: 100%;
    height: 90vh;
    overflow: auto;
    margin: 0px;
    display: block;
  }

  .vertical-menu a {
    background-color: #eee;
    color: black;
    display: block;
    padding: 7px;
    text-decoration: none;
  }
  .vertical-menu a:focus{
    text-decoration: none;
    color: black;
  }
  .vertical-menu a:hover {
    background-color: #ccc;
    text-decoration: none;
    color: black;
  }

  .vertical-menu a.active {
    background-color: #415850;
    color: white;
  }
  .details-body{
    height: 100vh;
    width: 100%;
    overflow: auto;
    padding:20px;
  }

  .small-screen-span{
    display: block;
    background-color: #64c2aa;
  }
  .small-screen-span-title{
    width: 70%;
    height: 40px;
    padding: 7px;
    padding-left: 20px;
    color: #ffffff;
    font-size: 20px;
  }
  .small-screen-span-icon{
    width: 30%;
    margin-left: 70%;
    margin-top: -40px;
    height: 40px;
    text-align: right;
    padding-right: 20px;
  }

  /* menu toggle switch creating */
  .menu-icon {
    display: inline-block;
    cursor: pointer;
  }
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  .change .bar2 {opacity: 0;}
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  @media screen and (max-width:767px){
    .vertical-menu {
      height: auto;
      overflow: unset;
      display: none;
      background-color: navy;
    }
    .details-body{
      overflow: hidden;
      height: auto;
    }

    /* Menu icon tag creating */
    .small-screen-span{
      display: block;
    }
    .small-screen-span-title{
      width: 70%;
      padding: 5px;
      padding-left: 20px;
      color: #ffffff;
      font-size: 20px;
    }
    .small-screen-span-icon{
      display: block;
      width: 30%;
      height: 42px;
      margin-left: 70%;
      margin-top: -42px;
      padding: 3px;
      padding-right: 20px;
      text-align: right;
    }

    /* menu toggle switch creating */
    .menu-icon {
      display: inline-block;
      cursor: pointer;
    }
    .bar1, .bar2, .bar3 {
      width: 35px;
      height: 5px;
      background-color: #333;
      margin: 6px 0;
      transition: 0.4s;
    }
    .change .bar1 {
      transform: translate(0, 11px) rotate(-45deg);
    }
    .change .bar2 {opacity: 0;}
    .change .bar3 {
      transform: translate(0, -11px) rotate(45deg);
    }

  }
